export(contrMatRatio, n.ratio,
 sci.ratio, sci.ratio.gen, sci.ratioVH,
 simtest.ratio, simtest.ratioVH,
 gsci.ratio,
 mcpqrci, mcpqdci, mcpqest,
ttestratio, ttestratio.default, ttestratio.formula)

import(graphics, mvtnorm)

importFrom("stats", "lm", "model.frame", "pt", "qnorm", "qt", "uniroot", "var", "density", "quantile", "time")
importFrom("utils", "head")
importFrom("survival", "survfit", "Surv")
importFrom("survPresmooth", "presmooth")
importFrom("multcomp", "contrMat")

S3method(plot, sci.ratio)

S3method(print, sci.ratio)
S3method(summary, sci.ratio)

S3method(print, simtest.ratio)
S3method(summary, simtest.ratio)

S3method(ttestratio, formula)
S3method(ttestratio, default)